.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 20%;
  box-sizing: border-box;
  background-color: var(--neutral-dark-black-color);
}

.navbarButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
