.button {  
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--neutral-light-white-color);
  text-transform: uppercase;
  line-height: 1.5;
  background-color: var(--primary-color);
  transition: background-color 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-click-color);
}
