.heroContainer {
  height: 50vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--neutral-light-white-color);
  overflow: hidden;
}

.content {
  display: flex;
  width: 60vw;
  margin: 2.5rem auto;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}

.content h1 {
  color: var(--neutral-light-white-color);
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2.8125rem;
  line-height: 1.2;
}

.content h1 span {
  font-weight: 700;
}
