.destination {
  width: 100%;
  padding: 2.5rem 20%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,  minmax(317px, 1fr));
  gap: 1rem 1.5rem;
}

@media screen and (max-width: 1200px) {
  .destination {
    padding: 2.5rem 5%;
  }
}
