.text {
  color: var(--neutral-dark-grey-color);
  text-align: justify;
  font-family: var(--primary-font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
}

.text p {
  margin-bottom: 1.5rem;
}