.formContainer {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--neutral-light-white-bg-color);
  border-radius: 16px;
}

.formContainer h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  color: #000;
}

.formContainer form {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .formContainer h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .formContainer {
    padding: 0;
  }

  .formContainer h2 {
    display: none;
  }
}
