.formContainer {
  width: 62vw;
  margin: 2.5rem auto;
  padding: 1.5rem;
  background-color: var(--neutral-light-white-bg-color);
  border-radius: 16px;
}

.formContainer h2 {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  color: #000;
}

.formContainer form {
  display: flex;
  align-items: center;
  gap: 2rem;
}
