.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.carousel__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 20px;
}

.carousel__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.carousel__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--neutral-light-white-color);
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel__button--inactive {
  background-color: var(--neutral-dark-light-grey-color);
}

.carousel__button:hover {
  background-color: var(--primary-click-color);
}

.carousel__indicators {
  display: flex;
  gap: 10px;
}

.carousel__indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: var(--neutral-dark-light-grey-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel__indicator--active {
  background-color: var(--primary-color);
}

/* Modificar o estilo do TestimonialCard para se ajustar ao carousel */
.testimonial__card {
  width: calc(33.33% - 14px);
  flex-shrink: 0;
}