.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem;
}

.carouselContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.carouselControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.carouselButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--neutral-light-white-color);
  border: none;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carouselButtonInactive {
  background-color: var(--neutral-dark-light-grey-color);
}

.carouselButton:hover {
  background-color: var(--primary-click-color);
}

.carouselIndicators {
  display: flex;
  gap: 0.625rem;
}

.carouselIndicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: none;
  background-color: var(--neutral-dark-light-grey-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.carouselIndicatorActive {
  background-color: var(--primary-color);
}

/* Modificar o estilo do TestimonialCard para se ajustar ao carousel */
.testimonialCard {
  width: calc(33.33% - 0.875rem);
  flex-shrink: 0;
}