.search {
  width: 100%;
}

.search input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.9375rem 2.5rem;
  border: 1px solid var(--neutral-dark-medium-grey-color);
  border-radius: 4px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--neutral-light-white-bg-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-dark-black-color);
  line-height: 1.5;
  letter-spacing: 0.0025em;
  outline: none;
}

.search input::placeholder {
  color: var(--neutral-dark-black-color);
  opacity: 0.7;
}

.search input:focus {
  border-color: var(--primary-container-on-color);
}

.searchIcon {
  position: relative;
}

.searchIcon::after {
  content: '';
  position: absolute;
  right: 1.5%;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25rem;
  height: 1.25rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23999"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}
