.testimonial__card {
  display: flex;
  width: 30%;
  height: 30vmin;
  padding: 12px 24px 12px 16px;
  background-color: var(--neutral-light-surface1-color);  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.testimonial__card img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-right: 16px;
}

.testimonial__content {
  overflow: auto;
}

.testimonial__text {
  margin: 0px;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--neutral-dark-grey-color);
}

.testimonial__author {
  margin: 0px;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--neutral-dark-black-color);
}