.testimonialCard {
  display: flex;
  width: 30%;
  height: 30vmin;
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  background-color: var(--neutral-light-surface1-color);  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.testimonialCard img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  margin-right: 1rem;
}

.testimonialContent {
  overflow: auto;
}

.testimonialText {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-dark-grey-color);
}

.testimonialAuthor {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-dark-black-color);
}

@media screen and (max-width: 896px) {
  .testimonialCard {
    width: 100%;
    height: 35vmin;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}

@media screen and (max-width: 414px) {
  .testimonialCard {
    width: 100%;
    height: 50vmin;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
}
