.card {
  padding-bottom: 1.25rem;
  border: 1px solid var(--neutral-dark-light-grey-color);
  border-radius: 12px;
  background-color: var(--neutral-light-surface1-color);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%;
  height: 33vmin;
  object-fit: cover;
  display: block;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
  padding: 1rem;
}

.cardName {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--neutral-dark-black-color);
  line-height: 1.33;
}

.cardPrice {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 2rem;
  color: var(--neutral-dark-grey-color);
  line-height: 1.25;
}

.cardLink {
  padding: 0.625rem 1.875rem;
  border-radius: 5px;
  font-size: var(--primary-font-family);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--neutral-light-white-color);
  text-transform: uppercase;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: background-color 0.3s;
}

.cardLink:hover {
  background-color: var(--primary-click-color);
} 
