.footer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 3.75rem 20%;
  background-color: var(--neutral-dark-black-color);
}

.logo {
  padding-bottom: 0.5rem;
}

.infoContainer {
  grid-row: 2 / 3;
}

.info {
  margin: 0;
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: var(--neutral-light-white-bg-color);
}

.footerSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  grid-row: 1 / 3;
}

.footerSocialParagraph {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--neutral-light-white-bg-color);
}

.footerSocialIcons {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.footerSocialIcons img {
  filter: brightness(0) invert(1);
}

.footerSocialIcons a {
  cursor: pointer;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.footerSocialIcons a:hover {
  transform: scale(1.2); /* Aumenta ligeiramente o ícone */
}

.socialWhatsapp:hover {
  filter: invert(72%) sepia(31%) saturate(1304%) hue-rotate(101deg) brightness(95%) contrast(98%);
}

.socialInstagram:hover {
  filter: invert(37%) sepia(97%) saturate(1055%) hue-rotate(298deg) brightness(94%) contrast(98%);
}

.socialTwitter:hover {
  filter: invert(48%) sepia(94%) saturate(1887%) hue-rotate(176deg) brightness(103%) contrast(91%);
}

@media (max-width: 1200px) {
  .footer {
    padding: 3.75rem 5%;
  }
}

@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    padding: 3.75rem 5%;
  }
  
  .logo {
    width: 30vmin;
  }

  .infoContainer {
    order: 3;
    text-align: center;
  }

  .footerSocial {
    flex-direction: row;
  }

  .footerSocialParagraph {
    font-weight: 700;
  }
}

@media (max-width: 563px) {
  .info {
    font-size: 0.825rem;
  }
}
