@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6750A4;
  --primary-container-color: #EADDFF;
  --primary-container-on-color: #21005D;
  --primary-click-color: #d0bcff;
  
  --neutral-dark-black-color: #1D1B20;
  --neutral-dark-grey-color: #49454F;
  --neutral-dark-medium-grey-color: #79747E;
  --neutral-dark-light-grey-color: #CAC4D0;
  
  --neutral-light-white-color: #FFFFFF;
  --neutral-light-white-bg-color: #F5F5F5;
  --neutral-light-surface1-color: #F7F2FA;
  
  --primary-font-family: "Roboto", sans-serif;

  font-family: var(--primary-font-family);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
}

a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}
