.notfoundContainer {
  position: relative;
}

.banner {
  position: relative;
  height: 45vmin;
  background-color: var(--primary-color);
  text-align: center;
  opacity: 0.7;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.paragraph {
  font-size: 1.25rem;
}

.banner404Container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
  bottom: calc(-30vw * 0.05);
}

.text404 {
  font-size: 20rem;
  color: var(--primary-container-color);
}

.image404 {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%)
}

.backLinkContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.backLink {
  font-size: 1.25rem;
  border-bottom: solid 1px #000;
}

.whiteSpace {
  height: 10vw;
}

@media (max-width: 1000px) {
  .banner {
    height: 60%;
  }

  .bannerTextContainer {
    padding: 2rem;
  }

  .title {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }

  .text404 {
    font-size: 20rem;
  }

  .image404 {
    width: 65%;
    bottom: calc(-55vw * 0.05);
  }
}