.notfoundContainer {
  position: relative;
}

.banner {
  position: relative;
  height: 80%;
  background-color: var(--primary-color);
  text-align: center;
  opacity: 0.7;
}

.bannerTextContainer {
  padding-top: 0.5rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.paragraph {
  font-size: 1.25rem;
}

.banner404Container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
  bottom: calc(-30vw * 0.05);
  width: 100%;
  height: 85%;
}

.text404 {
  font-size: 20rem;
  color: var(--primary-container-color);
}

.image404 {
  position: absolute;
  left: 50%;
  height: 70%;
  bottom: calc(-20vw * 0.05);
  transform: translateX(-50%)
}

.backLinkContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.backLink {
  font-size: 1.25rem;
  border-bottom: solid 1px #000;
}

.whiteSpace {
  height: 10vw;
}

@media (max-width: 767px) {
  .bannerTextContainer {
    padding-top: 0.25rem;
  }

  .title {
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
  }
  
  .paragraph {
    font-size: 1rem;
  }
  
  .text404 {
    font-size: 16rem;
  }

  .banner404Container {
    bottom: calc(-80vw * 0.05);
  }

  .image404 {
    bottom: calc(-5%);
  }
}