.notfoundContainer {
  position: relative;
}

.banner {
  position: relative;
  height: 80%;
  background-color: var(--primary-color);
  text-align: center;
  opacity: 0.7;
}

.bannerTextContainer {
  padding-top: 1rem;
}

.title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.paragraph {
  font-size: 1.25rem;
}

.image404 {
  position: absolute;
  left: 50%;
  height: 60%;
  bottom: calc(-25vw * 0.05);
  transform: translateX(-50%)
}

.backLinkContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
}

.backLink {
  font-size: 1.25rem;
  border-bottom: solid 1px #000;
}

.whiteSpace {
  height: 10vw;
}

@media screen and (max-width: 563px) {
  .bannerTextContainer {
    padding-top: 1.5rem;
  }

  .image404 {
    height: 50%;
  }
}

@media screen and (max-width: 414px) {
  .bannerTextContainer {
    padding-top: 2.2rem;
  }
  
  .image404 {
    height: 40%;
  }
}

@media screen and (max-height: 414px) {
  .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }

  .whiteSpace {
    display: none;
  }

  .bannerTextContainer {
    padding: 0 0 0 2rem;
    color: var(--neutral-light-surface1-color);
  }
  
  .image404 {
    position: unset;
    transform: unset;
    height: 50%;
  }

  .backLink {
    padding: 0.5rem;
    border-color: var(--neutral-light-surface1-color);
    color: var(--neutral-light-surface1-color);
  }
}

